/* Задача 1 */
/* #elem h2 {
  color: red;
} */

/* Задача 2 */
#elem p.text {
  color: green;
}

/* Задача 3 */
/* #elem p.text {
  color: rgb(79, 16, 197);
} */

/* Задача 4 */
/* #elem li.text {
  color: rgb(197, 16, 16);
} */
