/* Task1 */

/* .block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* task2 */

/* .block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* task3 */

/* .block {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* task 4 */

/* .block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* task 5 */

.block {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
}
