.menu {
  display: flex;
}
.menu a:not(:last-child) {
  margin-right: 5px;
}
.menu a {
  padding: 10px;
  font: 15px Arial;
  text-decoration: none;
  color: white;
  border: 1px solid green;
  background-color: green;
}
.menu a:hover,
.menu a.active {
  color: green;
  background-color: white;
}

/* Task 2 */

/* .menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}
.menu a {
  padding: 10px;
  font: 15px Arial;
  text-decoration: none;
  color: white;
  border: 1px solid green;
  background-color: green;
}
.menu a:hover,
.menu a.active {
  color: green;
  background-color: white;
} */

/* Task 3 */
/* 
.menu {
  display: flex;
}
.menu a {
  padding: 20px 40px;
  font: 16px Arial;
  text-decoration: none;
  color: white;
  background-color: green;
}
.menu a:hover,
.menu a.active {
  color: white;
  background-color: rgb(5, 78, 5);
} */
