/* .block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* Task 2 */

/* .block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* Task 3 */

/* .block {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* Task 4 */

/* .block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* Task 5 */

/* .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
} */

/* Task 6 */

.block {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 900px;
  height: 500px;
}
.element {
  border: 1px solid green;
  width: 120px;
  height: 70px;
}
